{% extends "base.html" %}

{% block content %}
  
	<div class="row">
		<div class="col-md-2">
			<label for="week-ending-date"><span class="label label-primary">Week ending on:</span></label>
			<select id="week-ending-date" name="week-ending-date" class="form-control">
				{%- for wed in week_ending_dates %}
				<option {% if wed==week_ending_date %}selected{% endif %} value="{{wed.isoformat()}}">{{wed.isoformat()}}</option>
				{% endfor -%}
			</select>
		</div>
		<div class="col-md-2">
			<label for="user"><span class="label label-primary">User:</span></label>
			<select id="user" name="user" class="form-control">
				{%- for u in users %}
				<option {% if u == selected_user %}selected{% endif %} value="{{u.username}}">{{u.full_name}}</option>
				{% endfor -%}
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
		</div>
	</div>
  
	<form action="" method="POST" >
		{{ form.hidden_tag() }}
		{% for e in timesheet.entries %}
			{%- if e.started_at %}
				{% set row_disabled = '' %}
			{% else %}
				{% set row_disabled = "disabled" %}
			{% endif -%}
			<div class="row">
				<input type="hidden" name="{{ '%d:id' % loop.index0 }}" id="{{ '%d:id' % loop.index0 }}" value="{{e.id}}" />
				<div class="col-md-3">{{e.date.strftime("%A")}}&nbsp;({{e.date}})</div>
				<div class="col-md-1"><input placeholder="hh:mm" name="{{ '%d:started_at' % loop.index0 }}" id="{{ '%d:started_at' % loop.index0 }}" value="{{e.started_at|hhmm}}" {{row_disabled}} /></div>
				<div class="col-md-1"><input placeholder="hh:mm" name="{{ '%d:finished_at' % loop.index0 }}" id="{{ '%d:finished_at' % loop.index0 }}" value="{{e.finished_at|hhmm}}" {{row_disabled}} /></div>
				<div class="col-md-2"><span>{{macros.break_select('%d:break_id' % loop.index0, e, row_disabled)}}</span></div>
				<div class="col-md-1">{{e|total_time}}</div>
				<div class="col-md-1"><input type="checkbox" name="{{ '%d:is_approved' % loop.index0 }}" id="{{ '%d:is_approved' % loop.index0 }}" value="True" {{row_disabled}}{%- if e.is_approved %}checked{% endif -%} /></div>
				<div class="col-md-3"><input name="{{ '%d:comment' % loop.index0 }}" id="{{ '%d:comment' % loop.index0 }}" value="{{e.comment}}" {{row_disabled}} /></div>
			</div>
		{% endfor %}

		<input type="submit" value="Submit!" />
	</form>  
  
{% endblock %}
{% block footer %}
	{{ super() }}
	<script>
	$(document).ready(function(){
		/* Select weeek ending */
		$('#week-ending-date').on('change', function () {
			var selected_date = $(this).val();
			if (selected_date) {
				window.location = "{{ url_for(request.endpoint, username=selected_user.username) }}/" + selected_date;
			}
			return false;
		});	
		$('#user').on('change', function () {
			var selected_user = $(this).val();
			if (selected_user) {
				window.location = "{{ url_for(request.endpoint) }}" + selected_user + "/{{week_ending_date}}";
			}
			return false;
		});	
	});	
	</script>
{% endblock %}
