{%- set active_page = request.endpoint|default('index') %}
{% import 'includes/_macros.html' as macros with context -%}
<!DOCTYPE html>
<html>
  <head>
    {%- block head %}
	<title>{% block title %}Time Sheets{% endblock %}</title>
    {%- block head_meta %}
	<meta charset="UTF-8">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Radomirs Cirskis <nad2000 A T gmail D O T com>">
    {% endblock -%}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<style>body {padding-top: 4px;}</style>
    {% endblock head -%}
  </head>
  <body>
    {% block page_body %}
    <div class="container">
      <nav class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" d
					ata-target="#app-navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="{{ url_for('homepage') }}">Time Sheets</a>
			</div>
			<!-- navbar content -->
			<div class="nav navbar-nav" id="app-navbar">
				<ul class="nav navbar-nav">
					{{ macros.menu_item('timesheet', 'Filling') }}
					{% if current_user.has_role('approver') %}
						{{ macros.menu_item('approve', 'Approving') }}
						{{ macros.menu_item('report', 'Reporting') }}
					{% endif %}
					{% if current_user.has_role('admin') %}
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('admin.index') }}">Administration<span class="caret"></span></a>
						<ul class="dropdown-menu">
							{{ macros.menu_item('break.index_view',    'Breaks') }}
							{{ macros.menu_item('user.index_view',     'Users') }}
							{{ macros.menu_item('role.index_view',     'Roles') }}
							{{ macros.menu_item('company.index_view',  'Companies') }}
							{{ macros.menu_item('entry.index_view',    'Entries') }}
						</ul>
					</li>
					{% endif %}
				</ul>
			</div>
			<ul class="nav navbar-nav navbar-right">
				{% if current_user.is_authenticated %}
				<li><a href="{{ url_for('security.logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				{% else %}
				<li><a href="{{ url_for('security.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				{% endif %}
			</ul>
        </div>
      </nav>

      {% block messages %}
		{{ macros.messages() }}
      {% endblock %}
	  {% block content %}
      {% endblock %}
    </div>
    {% endblock %}

	{% block footer %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	{% endblock %}
	</body>
</html>
