<!doctype html>
<title>Timesheets</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<div class=page>
  <h1><a href="{{ url_for('homepage') }}">Timesheets</a></h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('security.login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('timesheets') }}">Filling</a>
    <a href="{{ url_for('approve') }}">Approve</a>
    <a href="{{ url_for('security.logout') }}">Log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
