{% extends "base.html" %}

{% block content %}
  
	<div class="row">
		<div class="col-md-2">
			<label for="company"><span class="label label-primary">Company:</span></label>
			<select id="company" name="company" class="form-control">
				<option value="">&nbsp;</option>
				{%- for c in companies %}
				<option {% if c == selected_company %}selected{% endif %} value="{{c.code}}">{{c.name}}</option>
				{% endfor -%}
			</select>
		</div>
		<div class="col-md-2">
			<label for="from-date"><span class="label label-primary">Date From:</span></label>
			<select id="from-date" name="from-date" class="form-control">
				<option value="">&nbsp;</option>
				{%- for wed in week_ending_dates %}
				<option {% if wed==from_date %}selected{% endif %} value="{{wed.isoformat()}}">{{wed.isoformat()}}</option>
				{% endfor -%}
			</select>
		</div>
		<div class="col-md-2">
			<label for="to-date"><span class="label label-primary">Date To:</span></label>
			<select id="to-date" name="to-date" class="form-control">
				<option value="">&nbsp;</option>
				{%- for wsd in week_start_dates %}
				<option {% if wsd==to_date %}selected{% endif %} value="{{wsd.isoformat()}}">{{wsd.isoformat()}}</option>
				{% endfor -%}
			</select>
		</div>
		<div class="col-md-2">
			<label for="include-unapproved"><span class="label label-primary">Include Unapproved:</span></label>
			<input type="checkbox" name="include-unapproved" id="include-unapproved" {% if include_unapproved %}checked{% endif %}>
		</div>
	</div>
	
  
	{% for e in entries %}
		<div class="row">
			<div class="col-md-1">{{e.user.workplace.code}}</div>
			<div class="col-md-2">{{e.user.full_name}}</div>
			<div class="col-md-2">{{e.date}}</div>
		</div>
	{% endfor %}
  
{% endblock %}
{% block footer %}
	{{ super() }}
	<script>
	$(document).ready(function(){
	
		function runReport() {
			if ($('#from-date').val() != '' && $('#to-date').val() != '') {
				var url = ("{{ url_for(request.endpoint) }}" + 
					$('#from-date').val() + '/' + $('#to-date').val());
					
				if ($('#company').val() != '') {
					url += '/' + $('#company').val()
				}
				
				if (document.getElementById('include-unapproved').checked) {
					url += '?include_unapproved';
				}
				
				window.location = url;
			}
		}
		/* Select weeek ending */
		$('#company,#from-date,#to-date,#include-unapproved').each(function() {
			$(this).on('change', function () {
				runReport();
				return false;
			});
		});
	});	
	</script>
{% endblock %}
