{% extends "base.html" %}

{% block content %}
  
	<div class="row">
		<div class="col-md-2">
			<label for="company"><span class="label label-primary">Company:</span></label>
			<select id="company" name="company" class="form-control">
				<option value="">&nbsp;</option>
				{%- for c in companies %}
				<option {% if c == selected_company %}selected{% endif %} value="{{c.code}}">{{c.name}}</option>
				{% endfor -%}
			</select>
		</div>
		<div class="col-md-2">
			<label for="from-date"><span class="label label-primary">Date From:</span></label>
			<select id="from-date" name="from-date" class="form-control">
				<option value="">&nbsp;</option>
				{%- for wed in week_ending_dates %}
				<option {% if wed==from_date %}selected{% endif %} value="{{wed.isoformat()}}">{{wed.isoformat()}}</option>
				{% endfor -%}
			</select>
		</div>
		<div class="col-md-2">
			<label for="to-date"><span class="label label-primary">Date To:</span></label>
			<select id="to-date" name="to-date" class="form-control">
				<option value="">&nbsp;</option>
				{%- for wsd in week_start_dates %}
				<option {% if wsd==to_date %}selected{% endif %} value="{{wsd.isoformat()}}">{{wsd.isoformat()}}</option>
				{% endfor -%}
			</select>
		</div>
	</div>
	
  
	{% for e in entries %}
		{%- if e.started_at %}
			{% set row_disabled = '' %}
		{% else %}
			{% set row_disabled = "disabled" %}
		{% endif -%}
		<div class="row">
			<div class="col-md-1">{{e.user.workplace.code}}</div>
			<div class="col-md-1">{{e.user.full_name}}</div>
			<div class="col-md-1">{{e.date}}</div>
		</div>
	{% endfor %}
  
{% endblock %}
{% block footer %}
	{{ super() }}
	<script>
	$(document).ready(function(){
		/* Select weeek ending */
		$('#company,#from-date,#to-date').each(function() {
			$(this).on('change', function () {
				if ($('#company').val() != '' && $('#from-date').val() != '' && $('#to-date').val() != '') {
					window.location = ("{{ url_for(request.endpoint) }}" + 
						$('#company').val() + '/' + $('#from-date').val() + '/' + $('#to-date').val());
				}
				return false;
			});
		});	
	});	
	</script>
{% endblock %}
