{% extends "base.html" %}

{% block content %}
  
	<div class="row">
		<div class="col-md-2">
			<label for="week-ending-date"><span class="label label-primary">Week ending on:</span></label>
			<select id="week-ending-date" name="week-ending-date" class="form-control">
				{%- for wed in week_ending_dates %}
				<option {% if wed==week_ending_date %}selected{% endif %} value="{{wed.isoformat()}}">{{wed.isoformat()}}</option>
				{% endfor -%}
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
		</div>
	</div>
  
	<form action="" method="post" role="form">
  {% for e in timesheet %}
	<div class="row">
		<div class="col-md-2">{{e.date}}</div>
		<div class="col-md-1"><input name="{{ '%d:started_at' % loop.index0 }}" id="{{ '%d:started_at' % loop.index0 }}" value="{{e.started_at}}" /></div>
		<div class="col-md-1"><input name="{{ '%d:finished_at' % loop.index0 }}" id="{{ '%d:finished_at' % loop.index0 }}" value="{{e.finished_at}}" /></div>
		<div class="col-md-2"><span>{{macros.break_select('%d:break_for' % loop.index0, e)}}</span></div>
		<div class="col-md-1">{{macros.total_time(e)}}</div>
	</div>
  {% endfor %}
  
		<input type="submit" value="Submit!" />
	</form>  
  
{% endblock %}
{% block footer %}
	{{ super() }}
	<script src="{{ url_for('static', filename='selectize.js/js/standalone/selectize.min.js') }}"></script>
	<script>
	$(function(){
		$('#week-ending-date').on('change', function () {
			var selcted_date = $(this).val();
			if (selcted_date) {
				window.location = "{{ url_for(request.endpoint) }}"+selcted_date;
			}
			return false;
		});
	});	
	</script>
{% endblock %}
